<h1>Listing noticias</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th>Imagen</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @noticias.each do |noticia| %>
  <tr>
    <td><%= noticia.titulo %></td>
    <td><%= noticia.descripcion %></td>
    <td><%= noticia.imagen %></td>
    
    <td><%= link_to 'Show', noticia %></td>
    <td><%= link_to 'Edit', edit_noticia_path(noticia) %></td>
    <td><%= link_to 'Destroy', noticia, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

</table>

<br />
<%= will_paginate @noticias, :next_label => "Siguiente", :previous_label => "Anterior" %> 
<%= link_to 'New Noticia', new_noticia_path %>
