<% content_for :head do %>
	<%= javascript_include_tag "bio" %>
<% end %>

<div id="biobox">
	
	<div id="biohidden">
		
		<div class="fotobox"><%= image_tag "bandbio.png" %></div>
		<div class="fotobox"><%= image_tag "ull.png" %></div>
		<div class="fotobox"><%= image_tag "Meph.png" %></div>
		<div class="fotobox"><%= image_tag "tfbb.png" %></div>
		<div class="fotobox"><%= image_tag "thyunknown.png" %></div>
	</div>
	
	
	
	
</div>
<div id="boxbiobt">
	<div id="1" class="biobt" ><%= image_tag "biobt.png" %></div>
	<div id="2" class="biobt"><%= image_tag "biobt.png" %></div>
	<div id="3" class="biobt"><%= image_tag "biobt.png" %></div>
	<div id="4" class="biobt"><%= image_tag "biobt.png" %></div>
	<div id="5" class="biobt"><%= image_tag "biobt.png" %></div>
</div>
		
	<div id="biobox">
		<div id="bioinfobox">
			<div class="bioinfo">
			.. Inspirated by evilness...We Are Egmont...We are a death black metal band and we are here to destroy world..... Started in 2005 with mephistopheles makin some stuff... then he added thy fuckin black bassist wich help him to get a drummer who could play the things they were planning to do... then thy unknown appeared so he joined the band to prepare the songs to realize the album "All For Evil One"... Then appeared in the scene Üll whos growls surprised all egmonts member so we decided to get him in the band... So we now have our first 13 songs album... And Soon after playing in little gigs we oppened DARK FUNERAL... And we are increassing our power..... Openners of Dark Funeral (2006).. .. We are EGMONT a band for fans of belphegor, dark funeral, decapitated, hypocrisy and cannibal corpse..... Hail Satan..
	</div>
	<div class="bioinfo">
		<br />
		<b>Ull</b><br />
		Lead Vocal</br>
		Albums: “All For Evil One” – “Claim Your Holy Throne”<br />
		Influences: Opeth, Slayer, Megadeth<br />
		
		
	</div>
	<div class="bioinfo">
		<br />
		<b>Mephistopheles</b><br />
		Lead Guitar Player<br />
		Albums: “All For Evil One” – “Claim Your Holy Throne”<br />
		Influences: Behemoth, Dimmu Borgir, Vesania.<br />
		
		
	</div>
	<div class="bioinfo">
		<br />
		<b>TFBB</b><br />
		Bass Player<br />
		Albums: “All For Evil One” – “Claim Your Holy Throne”<br />
		Influences: Cannibal Corpse, Dimmu Borgir, Opeth.<br />
		
	</div>
	<div class="bioinfo">
		<br />
		<b>Thy Unknown</b><br />
		Drums<br />
		Albums: “All For Evil One” – “Claim Your Holy Throne”<br />
		Influences: Dimmu Borgir, Vesania, Slayer, Decapitated.<br />
		
		
	</div>
	
	
		</div>
	</div>




